/* Navigation */
#navbar {
    flex-direction: column;
}

#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
#navbar ul li a:hover {
    color: black;
    background-color: white;
    height: 16px;
}

/* Home section */
#home{
    height: 370px; 
    padding: 3px 28px;
}

#home::before{
    height: 480px; 
}

#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column;
       margin: 34px;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;

}
#services-container {
    height: 1880px;
    /* width: 360px; */
    width: auto;
    opacity: 0.90;
   margin-top: -18px;
}

#services-container .box:hover {
    background-color: white;
}

/* Contact us section */
#contact {
    /* position: relative; */
    margin-top: -17px;
}
#contact-box form{
    width:80%;
}
/* Footer */
footer {
    background: black;
    color: white;
    padding: 41px 20px;
    text-align: center;
margin-top: -17px;
}


/* Utility classes */
.h-primary{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}
